body {
  margin: 60px auto;
  width: 70%;
}
nav ul,
footer ul {
  font-family: "Helvetica", "Times", "Sans-Serif";
  font-weight: bold;
  list-style: none;
  padding: 0px;
}
nav ul li,
footer ul li {
  display: inline;
  margin-right: 20px;
}
a {
  color: #333;
  font-family: "Helvetica", "Times", "Sans-Serif";
  font-size: 14px;
  margin-right: 5px;
  text-decoration: underline;
}

h1 {
  font-family: "Helvetica", "Times", "Sans-Serif";
  font-size: 2.5em;
}

h2 {
  font-family: "Helvetica", "Times", "Sans-Serif";
  font-size: 1.5em;
  margin-right: 4em;
  width: 4em;
}

h3 {
  font-family: "Helvetica", "Times", "Sans-Serif";
  font-size: 1em;
  margin-top: 24px;
}

p {
  color: #333;
  font-family: "Helvetica", "Times", "Sans-Serif";
  font-size: 1.5em;
  line-height: 1.2em;
}

.cv {
  display: flex;
  flex-direction: column;
}

.cv-tab {
  align-items: start;
  display: flex;
  flex-direction: row;
}

.cv-row {
  display: flex;
  flex-direction: column;
}

.cv-text {
  font-family: "Helvetica", "Times", "Sans-Serif";
  font-size: 14px;
}

.cv-italic {
  font-family: "Helvetica", "Times", "Sans-Serif";
  font-size: 14px;
  font-style: italic;
}

span {
  display: flex;
  flex-direction: row;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: 0.8em;
}
