<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/resume">resume</a></li>
        <li><a href="/clips">clips</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div>
    <footer>
      <ul>
        <a href="mailto:alice.park@yale.edu" target="_blank">email me</a>
      </ul>
    </footer>
  </body>
</html>
